.heading{
    width: 100%;
    text-align: left;
}
.heading h2{
    display: inline;
}
.heading button{
    float: right;
    border: 5px solid whitesmoke;
}
.bigImage{
    width: 100%;
}
#start{
    font-size: 24px;
}
 h4{
background-color: azure;
line-height: 2;
margin: 0px;
}
#modal-dialog{
    width: 90px;

}
.instructionsImage{
    display: inline-block;
    width: 45%;
}
video {
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}